<header class="site-header" role="banner">
  <div class="wrapper">
    <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav class="site-nav" role="navigation">
      <ul class="site-nav-list">
        {%- for page_path in site.header_pages -%}
          {%- if page_path == "cv.md" -%}
            <li class="site-nav-item"><a class="site-nav-link" href="{{ '/assets/CV.pdf' | relative_url }}" download>CV</a></li>
          {%- else -%}
            {%- assign p = site.pages | where: "path", page_path | first -%}
            {%- if p -%}
              <li class="site-nav-item"><a class="site-nav-link" href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </nav>
  </div>
</header>

